.formPost {
  width: 100%;
  padding: 15px;
}

.buttons {
  width: 500px;
}

strong {
  display: block;
  text-align: left;
}



.input__title {
  width: 100%;
}

.input__text {
  width: 100%;
  height: 500px;

}

.formPost__item {

}